<h1>Recipes List</h1>
<hr>
<div class='row'>
    <% @recipes.each do |recipe| %>
        <div class='row recipeItem'>
            <div class='col-md-3'>
                <%= image_tag recipe.photo.url, class: 'img-thumbnail card-img' %>
            </div>
            <div class='col-md-8'>
                <div class='card-body'>
                    <%= link_to recipe.title, recipe_path(recipe.id), class: 'card-text' %><br />
                </div>
            </div>
        </div>
    <% end %>
</div>


<style>
    img {
        width: 50%;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.2em;
    }

    a:visited {
        color: black;
    }

    a:hover {
        color: black;
        text-decoration: none;
    }

    hr {
        border:none;
        height: 20px;
        width: 95%;
        height: 50px;
        margin-top: 0;
        border-bottom: 1px solid #1f1209;
        box-shadow: 0 20px 20px -20px #ccc;
        margin: -50px auto 10px; 
    }

    h1 {
        font-family: "Exo";
    }

    .recipeItem {
        margin-bottom: 0.5em;
        background-color: #F8E9D8;
        box-shadow: 0 20px 20px -20px #ccc;
    }
</style>