<h1><%= @recipe.title %></h1>

<div class='photo'>
    <%= image_tag @recipe.photo.url %><br />
</div>
<% if @recipe.methods.include?(:tags) %>
    <% @recipe.tags.each do |tag| %>
        <span class='badge badge-light'><%= tag.name %></span>
    <% end %>
<% end %>
<div class='description'>
    <%= @recipe.description %><br />
</div>
<% if @recipe.methods.include?(:chef)%>
    <div class='chefName'>
        Chef: <%= @recipe.chef.name%>
    </div>
<% end %>

<style>
    h1 {
        font-family: "Exo";
    }

    img {
        box-shadow: 8px 8px 10px #aaa;
        width: 75%;
    }

    .tags {
        margin-bottom: 6%; 
    }

    .description {
        font-size: 1.5em;
    }

    .photo {
        text-align: center;
        margin-bottom: 1em;
    }

    .chefName {
        font-size: 1.5em;
        font-style: italic;
    }
</style>